/* body{
    width: 80%;
    margin: 0 auto !important;
} */
/* Header  */

.top-header {
    background-color: #0170B9;
    height: 35px;
    color: #fff;
}

.hotline {
    line-height: 35px;
    font-size: 15px;
}

.fa-brands,
.fa-sharp {
    color: #fff;
    font-size: 18px;
    text-align: end;
    float: right;
    padding: 0 5px;
    line-height: 35px;
}

.custom-logo-link {
    padding-top: 10px;
}
#branding{
    border-bottom: 1px solid #0170B9;
}
.nav-menu{
    width: 100%;
    height:84px;
}
.nav-menu li:hover a{
    color: #0170B9;
}
.nav-menu > li {
    line-height: 84px;
    margin: 0 auto;
}
.nav-menu > li > a{
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.nav-menu > li > .sub-menu{
    display: inline-block;
    background-color: #fff;
    width: 300px;
}

.nav-menu > li > .sub-menu{
    box-shadow: 0px 0px 10px 2px blue;
    border-radius: 10px;
}

.sub-menu > li {
    text-align: center;
}

.sub-menu > li > a{
    font-size: 16px;
    width: 100% !important;
    font-weight: 600;
    color: #000 !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000 ;
}

.sub-menu > li:hover > a {
    color: #fff !important;
    background-color: #0170B9;
}


/*  end Header */

/* Slider */
#slider{
    margin-top: 30px;
}
.n2-ss-slider-wrapper-inside{
    width: 80%;
    margin: 0 auto;
}

/* Category */
.chuongtrinhdaotao > h2{
    border-left: 2px solid #0170B9;
    color: #0170B9;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 0;
    padding: 0 30px;
}

.box-content{
    background-color: #DEC839;
    height: 300px;
    margin-top: 20px;
}

.title-content{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 10px;
}


.nd-content,.nd-sub-content{
    padding: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.submit-button {
    margin: 0 30%;
}
.submit-button a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.nd-sub-content,.submit-button{
    display: none;
}

.box-ctdaotao:hover .box-content{
    background-color: #0170B9;
}
.box-ctdaotao:hover .title-content, .box-ctdaotao:hover .nd-content{
    display: none;
}
.box-ctdaotao:hover .nd-sub-content, .box-ctdaotao:hover .submit-button{
    display: block;
}


/* end Category */

/* content */

#content{
    margin-top: 50px;
    background-color: #cccccc85;
}

.title{
    text-align: center;
    margin: 25px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0170B9;
}

.sub-title{
    margin: 0 auto;
    text-align: center;
    color: #808080;
    margin-bottom: 50px;
}

.box-daotao{
    background-color: #fff;
    border-radius:90%;
    height: 265px;
    width: 265px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.box-daotao > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.box-daotao:hover {
    background-color: #DEC839;
    cursor: pointer;
    color: #fff;
}

.box-daotao:hover h3{
    color: #fff;
}

.box-daotao-content{
    font-size: 15px;
    position: relative;
    text-align: -webkit-center;
}

.box-daotao-content > h3 {
    font-size: 21px;
    color: #DEC839;
    font-weight: 700;
    margin-top: 10px;
}
/* end content */

/* Dự Án */

.entry-content >.bangdaylaixe > tr > td {
    border: 1px solid #000 !important;
}